.signup {
    max-width: 400px;
    margin: auto
}

.signup .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.signup .field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.signup .error {
    color: var(--red);
}