.nav-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  color: var(--text-color);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 12px;
}

.nav-list > li > a,
.nav-list > li > button,
.nav-list > li {
  display: flex;
}

.email {
  display: flex;
  padding: 12px 0;
  color: var(--gray);
}

@media (max-width: 560px) {
  .email {
    display: none;
  }
}
